<div class="container">
  <h2>Lista de Horarios</h2>
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Día</th>
        <th>Hora de Entrada</th>
        <th>Hora de Salida</th>
        <th>Horas Extra</th>
        <th>Compensaciones</th>
        <th>Usuario</th>
        <th>Departamento</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let horario of horarios">
        <td>{{ horario.id }}</td>
        <td>{{ horario.dia }}</td>
        <td>{{ horario.horaEntrada }}</td>
        <td>{{ horario.horaSalida }}</td>
        <td>{{ horario.horasExtra }}</td>
        <td>{{ horario.compensaciones }}</td>
        <td>{{ horario.nombreUsuario }}</td>
        <td>{{ horario.nombreDepartamento }}</td>
        <td>
          <button (click)="confirmarEdicion(horario.id)" class="btn btn-primary">Editar</button>
        
        </td>
      </tr>
    </tbody>
  </table>
</div>
